<span class="@CssClass" aria-hidden="true" style="@($"font-size:{Size}px;")">@Name</span>

@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string Size { get; set; } = "20";

    [Parameter]
    public bool Filled { get; set; }

    [Parameter]
    public string? AdditionalClass { get; set; }

    private string CssClass =>
        $"material-symbols-outlined{(Filled ? " material-symbols-outlined--filled" : string.Empty)}{(string.IsNullOrWhiteSpace(AdditionalClass) ? string.Empty : $" {AdditionalClass}")}";
}
