<article class="@CssClass">
    <div class="app-list-item__main">
        @ChildContent
    </div>

    @if (Actions is not null)
    {
        <div class="app-list-item__actions">
            @Actions
        </div>
    }
</article>

@code {
    [Parameter]
    public string? AdditionalClass { get; set; }

    [Parameter]
    public RenderFragment? Actions { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string CssClass => string.IsNullOrWhiteSpace(AdditionalClass)
        ? "app-list-item"
        : $"app-list-item {AdditionalClass}";
}